{% extends "base.html" %} {% load static %} {% block body_main %}
<div class="section-title mx-auto text-center p-5">
  <h1>My Activities</h1>
</div>
<table class="table-hover table table-bordered mx-5 mb-5" style="width:90vw">
  <thead class="thead-light text-center">
    <tr>
      <th>Activity</th>
      <th>Date</th>
      <th>Description</th>
      <th>Participant</th>
    </tr>
  </thead>
  <tbody>
    {% for activity in activity_list %}
    <tr>
      <td class="text-center"><b>{{ activity.kegiatan }}</b></td>
      <td class="text-center">{{ activity.tanggal }}</td>
      <td class="text-center">{{ activity.deskripsi }}</td>
      <td>
        {% for participant in participant_list %}
        {% if participant.kegiatan == activity %}
        <ul>
          <li>{{ participant }}</li>
        </ul>
        {% endif %}
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<form action="" method="POST" novalidate>
  {% csrf_token %}

  <table class="table mx-5" style="width:40vw">
    {% if submit %}
    <tr>
      <td>&nbsp;</td>
      <td>Successfully added an activity.</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>
        <button class="btn btn-primary d-flex  click">
          <a href="{% url 'story6:activity' %}" class="text-white">
            Register to another activity
          </a>
        </button>
      </td>
    </tr>
    {% else %}
    {{ form.as_table }}
    <tr>
      <td>&nbsp;</td>
      <td>
        <input type="submit" value="Submit" class="btn btn-primary click" />
      </td>
    </tr>
    {% endif %}
  </table>
</form>
{% endblock %}