{% extends "base.html" %} {% load static %} {% block body_main %}
<section class="container-fluid d-flex flex-wrap align-content-center ">

  <div class="section-title mx-auto text-center p-5">
    <h1>Add An Activity</h1>
  </div>

  <form action="" method="post" novalidate>
    {% csrf_token %}
    <table class="table mx-5" style="width:90vw">
      {{ form.as_table }}
      {% if submit %}
      <tr>
        <td>&nbsp;</td>
        <td>Successfully added an activity.</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>
          <button class="btn btn-primary d-flex  click">
            <a href="{% url 'story6:activity_add' %}" class="text-white">
              Add another activity
            </a>
          </button>
        </td>
      </tr>
      {% else %}
      <tr>
        <td>&nbsp;</td>
        <td>
          <input type="submit" value="Submit" class="btn btn-primary click" />
        </td>
      </tr>
      {% endif %}
    </table>
  </form>

</section>
{% endblock %}