<div class="dropdown fixed-top mt-4">
  <button class="btn btn-secondary dropdown-toggle ml-4 pl-3 pr-3 bg-light text-dark" type="button" id="dropdownMenu1"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Menu
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'story4:homepage' %}">Home</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'story5:subject' %}">Subjects I'm In</a>
    <a class="dropdown-item" href="{% url 'story5:subject_add' %}">Add A Subject</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'story6:activity' %}">My Activities</a>
    <a class="dropdown-item" href="{% url 'story6:activity_add' %}">Add An Activity</a>
  </div>
</div>